<<<<<<<< HEAD:backend/.env.example
# Confluent Cloud Kafka (required for simulation / telemetry to Kafka)
KAFKA_BOOTSTRAP_SERVERS=pkc-xxxxx.region.provider.confluent.cloud:9092
KAFKA_API_KEY=your_cluster_api_key
KAFKA_API_SECRET=your_cluster_api_secret
KAFKA_TOPIC=device_metrics
========
CONFLUENT_CLOUD_API_KEY=
CONFLUENT_CLOUD_API_SECRET=
CONFLUENT_CLOUD_REST_ENDPOINT="https://api.confluent.cloud"


# Confluent Cloud Kafka
KAFKA_BOOTSTRAP_SERVERS=pkc-xxxxx.region.provider.confluent.cloud:9092
KAFKA_API_KEY=your_cluster_api_key
KAFKA_API_SECRET=your_cluster_api_secret
KAFKA_TOPIC=device-metrics
>>>>>>>> 0e0addfe9fd8f56eee2a9ed8472e160859466c6c:producers/device-generator/.env.example

CLOUD_PROVIDER="aws"
CLOUD_REGION="us-west-2"
ORG_ID=""
ENV_ID="env-"
COMPUTE_POOL_ID="lfcp-"

KAFKA_ENV_ID=${ENV_ID}
FLINK_ENV_ID=${ENV_ID}
ENVIRONMENT_ID=${ENV_ID}
ORGANIZATION_ID=${ORG_ID}

FLINK_REST_ENDPOINT=https://flink.....confluent.cloud
# j9r-flink-app service account key
PRINCIPAL_ID=sa-
FLINK_API_KEY=
FLINK_API_SECRET=cfltx....

FLINK_ORG_ID=${ORG_ID}
FLINK_ENV_NAME="j9r-env"
FLINK_DATABASE_NAME="j9r-kafka"
FLINK_COMPUTE_POOL_ID="lfcp-..."


# Confluent Cloud Schema Registry
SCHEMA_REGISTRY_URL=https://psrc-xxxxx.region.provider.confluent.cloud
SCHEMA_REGISTRY_BASIC_AUTH_USER_INFO=your_sr_key:your_sr_secret

# Simulation (optional)
# SIMULATION_INTERVAL_SECONDS=2.0
# SIMULATION_NUM_PATIENTS=5
